<!--<mat-toolbar color="accent">
  <mat-toolbar-row>
    <span>Restaurant </span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span>aSDFGSDFG</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar color="warn">
  <span class ="a">asdada</span>
  
  <span>asasfasf</span>
</mat-toolbar>
<mat-slider min="1" max="100" step="1" value="1" color="primary"></mat-slider>-->
<!-- 
  Commented because now header will take care of that  
-->
<app-header></app-header>
<router-outlet></router-outlet>
<!--<app-menu></app-menu>-->
<app-footer></app-footer>