<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="50">

    <div fxFlex *ngIf="dish">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h3>{{dish.name | uppercase}}</h3>
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{dish.image}}">
            <mat-card-content>
                <p>{{dish.description}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
                <button mat-button (click)="goBack()">Back</button>
            </mat-card-actions>

        </mat-card>
    </div>
  </div>

  <div fxFlex="50" *ngIf="dish" style="padding: 5vw;">
      <h2 style="font-weight: 200;">Comments</h2>
    <mat-list >
        <mat-list-item style="height:max-content;color:black; margin-bottom: 50px; padding-bottom: 10px;" *ngFor="let c of dish.comments">
            <p >
            {{c.comment}}<br>
            stars: {{c.rating}}<br>
            --{{c.author}} 
            {{c.date | date}}<br></p>

        </mat-list-item>
    </mat-list>
  </div>

</div>