<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="50">

    <div fxFlex *ngIf="dish" [@visibility]="visibility" [@expand]>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{BaseURL+dish.image}}">
            <mat-card-content>
                <p>{{dish.description}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button [routerLink]="['/dishdetail',prev]">
                <span class="fa fa-chevron-left fa-lg"></span></button>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
                <button mat-button (click)="goBack()">Back</button>
                <button mat-button [routerLink]="['/dishdetail',next]">
                <span class="fa fa-chevron-right fa-lg"></span></button>
            </mat-card-actions>

        </mat-card>
    </div>
    <div fxFlex [hidden]="dish || errMes">
        <mat-spinner></mat-spinner><h4>Loading ....</h4>
    </div>
  </div>
  <div fxFlex *ngIf="errMes">
      <h2>Error</h2>
      <h4> {{errMes}} </h4>
  </div>

  <div fxFlex="50" *ngIf="dish" style="padding: 5vw;" [@visibility]="visibility" [@animate]>
      <h2 style="font-weight: 200;">Comments</h2>
    <mat-list >
        <mat-list-item style="height:max-content;color:black; margin-bottom: 50px; padding-bottom: 10px;" *ngFor="let c of dish.comments">
            <p >
            {{c.comment}}<br>
            stars: {{c.rating}}<br>
            --{{c.author}} 
            {{c.date | date}}<br></p>

        </mat-list-item>
    </mat-list>
    <div style="padding: 5vw; background-color:grey;">
        <h4>Add A Comment </h4>
    <!--<p>{{commentForm.value | json }}</p>-->
    <form  novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput formControlName="author" placeholder="Name" type="text" required>
            <mat-error *ngIf="formErrors.author">
                {{formErrors.author}}
            </mat-error>
        </mat-form-field>
        <br>
        <mat-slider matInput formControlName="rating"   min="0" max="5" step="1" tickInterval="1" thumbLabel ></mat-slider>
        <br>
        <mat-form-field>
            <textarea matInput formControlName="comment" rows=12 placeholder="Comment" type="text" required></textarea>
            <mat-error *ngIf="formErrors.comment">
                {{formErrors.comment}}
            </mat-error>
        </mat-form-field>
            <br>
      <button type="submit" mat-button [disabled]="this.commentForm.invalid">Submit</button>
    </form>
    </div>
  </div>
</div>