<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutAlign="space-around"
     fxLayoutGap="10px">

<mat-card *ngIf="dish" fxFlex="30%">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{dish.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{BaseURL+dish.image}}" alt={{dish.name}}>
  <mat-card-content>
    <p>{{dish.description}}
    </p>
  </mat-card-content>
</mat-card>
<div fxFlex [hidden]="dish || errMes">
  <mat-spinner></mat-spinner><h4>Loading....</h4>
</div>
<div fxFlex *ngIf="errMes">
  <h2> Error</h2>
  <h4> {{errMes}}</h4>
</div>

<mat-card *ngIf="promotion" fxFlex="30%">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{promotion.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src={{promotion.image}} alt={{promotion.name}}>
  <mat-card-content>
    <p>{{promotion.description}}
    </p>
  </mat-card-content>
</mat-card>
<div fxFlex [hidden]="promotion">
  <mat-spinner></mat-spinner><h4>Loading ...</h4>
</div>
<mat-card *ngIf="leader" fxFlex="30%">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{leader.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src={{leader.image}} alt={{leader.name}}>
  <mat-card-content>
    <h4>{{leader.designation}}</h4>
    <p>{{leader.description}}
    </p>
  </mat-card-content>
</mat-card>
<div fxFlex [hidden]="leader">
  <mat-spinner></mat-spinner><h4>Loading ...</h4>
</div>

</div>